*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.timeline-scrubber{position:absolute;margin-left:1155px;width:120px}
.timeline-scrubber.affix{position:fixed;top:30px}
.admin-bar .timeline-scrubber.affix{top:60px}
.timeline-scrubber ul{list-style:none;padding:0 50px 30px 0;margin:0;border-bottom:1px solid #e5e5e5}
.timeline-scrubber a{padding:5px 0 5px 10px;border-left:3px solid #e5e5e5;color:#bbb;font-weight:bold;display:block;margin:0 0 1px}
.timeline-scrubber a:hover{color:#e74c3c;border-left-color:#e74c3c}
.timeline-scrubber .active a{color:#e74c3c;border-left-color:#e74c3c}
.timeline-pale{text-align:center;position:relative;margin:0 0 30px;padding:30px 0 0;clear:both}
.timeline-pale:before{display:none}
.timeline-pale span{padding:10px 40px;font-size:11px;line-height:10px;text-transform:uppercase;display:inline-block;background:#fff;border:1px solid #e5e5e5;color:#bbb;font-weight:500;border-radius:3px}
.timeline{margin:0 0 30px 0;position:relative;padding:30px 0 10px}
.timeline:before{position:absolute;top:0;left:50%;margin-left:-1px;width:2px;height:100%;background:#bb290c;content:''}
.timeline:after{display:table;clear:both;content:' '}
.timeline .dwtl{position:relative;z-index:1;opacity:0;-webkit-transition:opacity .3s;transition:opacity .3s}
.timeline .dwtl:before{position:absolute;top:15px;width:12px;height:12px;border:3px solid #f8f8f8;border-radius:50%;background:#e5e5e5;content:''}
.two-col .dwtl .entry-inner{position:relative}
.two-col .dwtl .entry-inner:before,.two-col .dwtl .entry-inner:after{position:absolute;top:13px;content:''}
.two-col .dwtl.normal{width:50%}
.two-col .dwtl.normal .entry-inner:before,.two-col .dwtl.normal .entry-inner:after{border-top:8px dashed transparent;border-bottom:8px solid transparent}
.dwtl-left{float:left;clear:left;padding-right:15px}.dwtl-left:before{right:-6px}
.dwtl-left .entry-inner:before{right:-8px;border-left:8px solid #e5e5e5}
.dwtl-left .entry-inner:after{right:-7px;border-left:8px solid #fff}
.dwtl-right{float:right;clear:right;padding-left:15px}
.dwtl-right:before{left:-6px}
.dwtl-right .entry-inner:before{left:-8px;border-right:8px solid #e5e5e5}
.dwtl-right .entry-inner:after{left:-7px;border-right:8px solid #fff}
.two-col .dwtl.full{clear:both}
.two-col .dwtl.full:before{left:50%;margin-left:-6px;top:-25px}
.two-col .dwtl.full .entry-inner:before,.two-col .dwtl.full .entry-inner:after{left:50%;margin-left:-8px;border-right:8px dashed transparent;border-left:8px solid transparent}
.two-col .dwtl.full .entry-inner:before{top:-8px;border-bottom:8px solid #e5e5e5}
.two-col .dwtl.full .entry-inner:after{top:-7px;border-bottom:8px solid #fff}
.hentry .entry-thumbnail{margin:0 0 15px}
.hentry .entry-inner{padding:20px 30px;margin:0 0 30px;background:#fff;border-radius:3px;-webkit-box-shadow:0 1px 1px 0 rgba(0,0,0,0.15);box-shadow:0 1px 1px 0 rgba(0,0,0,0.15)}
.hentry .entry-format{font-size:12px;color:#bbb;margin:0 0 10px;text-transform:uppercase}
.hentry .entry-title{margin:0 0 15px}
.hentry .entry-meta{font-size:12px;color:#bbb;margin:0 0 15px}
.hentry .entry-meta a{color:#bbb}
.hentry .entry-meta a:hover{color:#e74c3c}
.hentry .entry-meta .sep{margin:0 5px}
.hentry .entry-content,.hentry .entry-summary{padding:0 0 20px}
.hentry .entry-content:before,.hentry .entry-summary:before,.hentry .entry-content:after,.hentry .entry-summary:after{content:" ";display:table}
.hentry .entry-content:after,.hentry .entry-summary:after{clear:both}
.hentry .entry-content:before,.hentry .entry-summary:before,.hentry .entry-content:after,.hentry .entry-summary:after{content:" ";display:table}
.hentry .entry-content:after,.hentry .entry-summary:after{clear:both}
.hentry .entry-content .carousel,.hentry .entry-summary .carousel{margin:0 0 10px}
.hentry .more-link{display:block;clear:both;margin:10px 0 0}
.hentry .entry-tags{margin-bottom:10px}
.hentry .entry-tags a{margin:15px 0 30px;opacity:.5}
.hentry .entry-tags a:hover{opacity:1}
.entry-inner h3{margin:0 0 12px 0;color:#666666;}
.entry-inner p{color:#666666;}
