html{background:#fff;font-size:62.5%}
body{margin:0 auto;padding:0;font-size:16px;font-family:Helvetica,Arial,sans-serif;font-weight:200;color:#888;background:#fff;-webkit-font-kerning:auto;-webkit-font-smoothing:antialiased}
button,input,select,textarea{font-family:Helvetica,Arial,sans-serif;color:#404040}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(http://themes.googleusercontent.com/static/fonts/oswald/v8/HqHm7BVC_nzzTui2lzQTDbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://themes.googleusercontent.com/static/fonts/oswald/v8/qpy-UiLNKP-VfOdbcs6r6-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(http://themes.googleusercontent.com/static/fonts/oswald/v8/bH7276GfdCjMjApa_dkG6bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

h1,h2,.sidebox h2 a,h3,h4,h5,h6{font-family:'Oswald', sans-serif;font-weight:700;text-transform:uppercase;color:#fff;margin:0 0 20px}
.smallheader{font-family:'Oswald', sans-serif;font-weight:700;text-transform:uppercase;color:#fff;font-size:32px;line-height:42px;margin:0 0 10px;color:#fff;text-align:center}
.mainheader{text-shadow:0 5px 0 rgba(0,0,0,0.15);font-family:'Oswald', sans-serif;font-weight:700;text-transform:uppercase;color:#fff;font-size:50px;line-height:50px;margin:0 0 40px;color:#fff;text-align:center}
.subheader{font-family:Helvetica,Arial,sans-serif;color:#fff;font-size:23px;line-height:30px;text-align:center;width:65%;margin:0 auto}
p{color:#fff;font-size:17px;line-height:27px;font-family:Helvetica,Arial,sans-serif;margin:0 0 20px}
a{text-decoration:none;color:#00a5d3}
li{list-style:none;margin:0;padding:0}
.clear{clear:both}
.alignright{float:right;margin:0 0 20px 20px}
.alignleft{float:left;margin:0 20px 20px 0}
.aligncenter{display:block;margin:20px auto}
#body-container{padding:50px 0 0;z-index:1;color:#fff;position:relative}img{max-width:100%;height:auto}
.container{width:1280px;margin:0 auto;position:relative}
.container.standard{margin:75px auto}
.container.standard .mainheader,.container.standard .subheader{color:#666}
.container.standard .subheader{color:#888}
.orangebtn,.contactform input[type=submit],.login-submit input[type=submit]{font-family:'Oswald', sans-serif;font-weight:700;text-transform:uppercase;color:#fff;background:#e74c2e;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;display:block;text-align:center;text-decoration:none;color:#fff;font-weight:400;border:none;border-bottom:1px solid #b83e0b;font-weight:700;font-size:25px;text-shadow:0 1px 1px rgba(184,62,11,0.75)}
.orangebtn:hover,.contactform input[type=submit]:hover,.login-submit input[type=submit]:hover{background:#ffffff;color:#e74c2e;text-shadow:0 1px 1px rgba(255,255,255,0.45);border-bottom:1px solid transparent;box-shadow:inset 0 2px 2px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 2px 2px rgba(0,0,0,0.3);-webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.3)}
.orangebtn:active,.contactform input[type=submit]:active,.login-submit input[type=submit]:active{margin-top:1px}
.logo{display:block;margin:0 auto 10px;width:250px;height:auto}
.logo img{width:100%;height:auto}
.logo{width:230px;float:left;margin:3px 15px 0 0}
.home-intro{background:#e74c2e;overflow:hidden;padding:50px 0}
.home-intro h1,.home-intro h2,.home-intro .sidebox h2 a,.sidebox h2 .home-intro a{text-shadow:0 5px 0 rgba(0,0,0,0.15);color:#fff;text-align:center}
.home-intro h1{font-size:30px;line-height:30px;margin:0;top:0;position:relative}
.home-intro h2,.home-intro .sidebox h2 a,.sidebox h2 .home-intro a{position:relative;left:0;font-size:80px;line-height:90px;text-shadow:0 5px 0 rgba(0,0,0,0.15);text-transform:none;margin:50px auto;width:80%;text-align:center;display:block}
.home-intro h3.mainheader{font-size:30px;line-height:32px}
.home-intro p{position:relative;right:-2000px;color:#fff;width:60%;text-align:center;display:block;margin:20px auto;font-size:20px}
.home-darkbox{overflow:hidden;width:100%;margin:0 auto}
.home-darkbox article{width:49%;height:440px;padding:40px 0;position:relative;overflow:hidden}
.home-darkbox article img{display:block;float:left;margin:0 0 0 30px;max-width:100%;height:auto}
.home-darkbox article .info{width:85%;padding:0;position:absolute;float:right;top:0;right:0;margin:50px 50px 0 0}
.home-darkbox article .info h3{color:#fff;text-shadow:0 5px 0 rgba(0,0,0,0.15);margin:0 0 20px;padding:0px 0 0;font-size:30px}
.home-darkbox article .info p{text-align:center;margin:0 auto 10px;display:block; font-size:14px;}
.home-darkbox article .info .orangebtn{display:block;margin:30px auto 0;width:100px;padding:5px 10px;font-size:20px}
.home-darkbox article .info .orangebtn:active{margin-top:31px}
.home-darkbox .leftside{background:#272727;float:left;margin:1% 0 1% 1%}
.home-darkbox .rightside{background:#272727;float:right;margin:1% 1% 1% 0;width:48%}
.benefits{background:#f6f6f6;padding:50px 0;overflow:hidden}
.benefits h3{font-size:50px;line-height:50px;margin:0 0 40px;text-align:center;text-shadow:0 5px 0 rgba(0,0,0,0.15)}
.benefits h3,.benefits h4,.benefits p{color:#666}
.benefits h4{font-size:23px;margin:10px 0 5px}
.benefits .panel{width:48%;padding:1%;height:175px;float:left}
.benefits .panel img{float:left;margin:0 20px 0 0}
.support .panel{width:48%;padding:1%;height:175px;float:left;text-align:left;}
.support .panel img{float:left;margin:0 20px 0 0}
.support h3{font-size:50px;line-height:50px;margin:0 0 40px;text-align:center;text-shadow:0 5px 0 rgba(0,0,0,0.15)}
.support h4{font-size:23px;margin:10px 0 5px}
.home-further{padding:50px 0;background:#ffffff;overflow:hidden;text-align:center;}
.home-further p{color:#272727;}
.home-further iframe{float:right;margin:0 0 20px 20px}
.home-further a{color:#fff;text-decoration:underline}
.home-further a:hover{text-decoration:none}
.home-further h3{font-size:50px;line-height:50px;margin:0 0 40px;text-align:center;text-shadow:0 5px 0 rgba(0,0,0,0.15);color:#666}
.mainnav{background:#fff;position:fixed;top:0;left:0;width:100%;height:49px;z-index:99999;border-bottom:1px solid #f0f0f0}
.mainnav .orangebtn{float:right;font-size:14px;margin:10px 0 0 10px;padding:5px 8px}
.mainnav nav{display:none}
.mainnav ul{float:right;margin:0}
.mainnav ul li:hover ul,.mainnav ul ul li.sfHover ul{left:0;top:50px;z-index:2}
.mainnav ul li:hover li ul,.mainnav ul ul li.sfHover li ul{top:-999em;z-index:2}
.mainnav ul li li:hover ul,.mainnav ul ul li li.sfHover ul{left:0;top:50px;z-index:2}
.mainnav ul li li:hover li ul,.mainnav ul ul li li.sfHover li ul{top:-999em;z-index:2}
.mainnav ul li li li:hover ul,.mainnav ul ul li li li.sfHover ul{left:200px;top:0;z-index:2}
.mainnav ul li:hover>a{color:#fff;background:#0e8bb7;text-shadow:0 1px 1px rgba(0,0,0,0.5)}
.mainnav ul li{text-transform:uppercase;float:left;position:relative;display:block;margin:0;border-right:1px solid #f0f0f0}
.mainnav ul li:hover{visibility:inherit}
.mainnav ul li a{padding:0 15px;display:block;font-family:'Oswald', sans-serif;font-weight:400;text-transform:uppercase;color:#272727;height:50px;line-height:48px;font-size:14px}
.mainnav ul li a:hover{text-shadow:0 1px 1px rgba(0,0,0,0.5);background:#e74c2e;color:#fff}
.mainnav ul li .sf-js-enabled,.mainnav ul li .sf-js-enabled{position:absolute;top:-999em;width:200px}
.mainnav ul li .sf-js-enabled{height:auto;margin:0;padding:0;border-bottom:1px solid #fff;overflow:hidden}
.mainnav ul li .sf-js-enabled li{border:none;height:auto;width:auto;margin:0}
.mainnav ul li .sf-js-enabled li a{display:block;line-height:18px;height:auto;padding:8px 15px;width:170px;text-indent:0px;font-size:14px;text-transform:none;color:#fff;background:#0e8bb7 !important;text-shadow:0 1px 1px rgba(0,0,0,0.5)}
.mainnav ul li .sf-js-enabled li a:hover{text-shadow:none;background:#f9f9f9 !important;color:#00a5d3 !important}
.mainnav ul li .sf-js-enabled .current-menu-item a{background:#00a5d3 !important;color:#fff;text-shadow:0 1px 1px rgba(0,0,0,0.5)}
.mainnav ul li .sf-js-enabled .last a{padding-bottom:12px}
.mainnav ul .first{border-left:1px solid #f0f0f0}
.mainnav ul .current-menu-item,.mainnav ul .current-page-parent,.mainnav ul .current-menu-parent{border:none}
.mainnav ul .current-menu-item a,.mainnav ul .current-page-parent a,.mainnav ul .current-menu-parent a{background:#e74c2e !important;color:#fff;text-shadow:0 1px 1px rgba(0,0,0,0.5)}
#menubtn{float:right;display:none;margin:10px 0 0}
#menubtn span{height:30px;line-height:30px;width:auto;float:right;padding:0;font-family:'Oswald', sans-serif;font-weight:600;font-size:18px;text-transform:uppercase;color:#00a5d3}
#menubtn .close{display:none}#menubtn:hover .open{background-position:0 -82px}
#menubtn:hover .close{background-position:0 -24px}
.maincontent{padding:60px 0 80px;background:#a6b43d;overflow:hidden;width:100%}
.maincontent ul{margin:20px 0 20px 20px}
.maincontent ul li{list-style:disc}

.registerbox{width:100%;overflow:hidden;background:#00a5d3;padding:30px 0 80px}
.registerbox h3{font-size:40px;text-align:center;margin:20px 0 20px}
.registerbox p{text-align:center}
.registerbox .contactform{margin:0 auto;float:none}
.registerbox .contactform label{color:#fff}

.isotope-item{z-index:2}.isotope-hidden.isotope-item{pointer-events:none;z-index:1}
.isotope,.isotope .isotope-item{-webkit-transition-duration:0.8s;-moz-transition-duration:0.8s;-ms-transition-duration:0.8s;-o-transition-duration:0.8s;transition-duration:0.8s}
.isotope{-webkit-transition-property:height, width;-moz-transition-property:height, width;-ms-transition-property:height, width;-o-transition-property:height, width;transition-property:height, width}
.isotope .isotope-item{-webkit-transition-property:-webkit-transform, opacity;-moz-transition-property:-moz-transform, opacity;-ms-transition-property:-ms-transform, opacity;-o-transition-property:-o-transform, opacity;transition-property:transform, opacity}
.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition{-webkit-transition-duration:0s;-moz-transition-duration:0s;-ms-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s}
.isotope.infinite-scrolling{-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none}

.contactheader{padding:0;position:relative;height:auto;max-height:430px;background:#00a5d3;overflow:hidden;width:100%}
.contactheader img{width:auto;display:block;height:auto;position:absolute;top:0;right:0}
.contactheader .container{padding:0}.contactheader .mainheader{color:#fff;margin:0;padding:10% 0}
.contactheader.header404 .mainheader{padding:10% 0 2%}
.contactheader.header404 .subheader{padding:0 0 10%}
.contactmain{overflow:hidden}
.contactmain .contactinfo{float:left;margin:40px 0 0 40px}
.contactmain .contactinfo p{color:#888}
.contactmain .contactform{margin:40px 40px 0 0}
.contactmain .wpcf7-mail-sent-ok{color:#398f14 !important}
.contactform,#loginform{width:550px;margin:0;float:right}
.contactform li,#loginform li{overflow:hidden;margin:0;list-style:none !important}
.contactform p,#loginform p{overflow:hidden}
.contactform .login-remember,#loginform .login-remember{margin:0 0 20px}
.contactform label,#loginform label{font-family:'Oswald', sans-serif;font-weight:700;text-transform:uppercase;color:#fff;color:#666;font-size:20px;display:block;margin:5px 0;float:left;width:80%}
.contactform p,#loginform p{line-height:normal;margin:0}
.contactform input[type=text],.contactform input[type=email],.contactform input[type=password],.contactform textarea,#loginform input[type=text],#loginform input[type=email],#loginform input[type=password],#loginform textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10px;width:100%;padding:10px;float:right;border:1px solid #ccc;box-shadow:inset 0 2px 0px #f0f0f0;-moz-box-shadow:inset 0 2px 0px #f0f0f0;-webkit-box-shadow:inset 0 2px 0px #f0f0f0}
.contactform textarea,#loginform textarea{height:200px;resize:none}
.contactform input.active,.contactform textarea.active,#loginform input.active,#loginform textarea.active{border:1px solid #666;outline:none;background:#eee;box-shadow:inset 0 2px 0px #dddddd;-moz-box-shadow:inset 0 2px 0px #dddddd;-webkit-box-shadow:inset 0 2px 0px #dddddd}
.contactform input[type=submit],#loginform input[type=submit]{display:block;padding:10px 30px;margin:0;float:right}
.contactform input[type=submit]:active,#loginform input[type=submit]:active{margin-top:1px}

.standardform{float:right}
.selector,.checker,.checker span,.checker input{display:-moz-inline-box;display:inline-block;*display:inline;zoom:1;vertical-align:middle}
.selector:focus,.checker:focus,.checker span:focus,.checker input:focus{outline:0}
.selector,.selector *,.checker,.checker span,.checker input,.checker *,.checker span *,.checker input *{margin:0;padding:0}
.checker input,.checker span input,.checker input input{-moz-appearance:none;-webkit-appearance:none}
.selector{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:right;height:44px;width:100% !important;padding:10px;border:1px solid #ccc;position:relative;overflow:hidden;margin:0 0 10px;background:url(../img/selectbg.jpg) right -10px no-repeat #fff;}
.selector span{font-family:'Oswald', sans-serif;font-weight:700;text-transform:uppercase;color:#fff;color:#666;font-size:18px;text-overflow:ellipsis;display:block;overflow:hidden;white-space:nowrap;height:26px;line-height:26px;padding:0;cursor:pointer;width:75% !important;display:block}
.selector select{opacity:0;filter:alpha(opacity=0);-moz-opacity:0;border:none;background:none;position:absolute;height:64px;top:1px;left:10px;width:100%}
.selector.hover,.selector.active{border:1px solid #666;background-position:right -74px}
.checker,.checker span,.checker input{position:relative;height:20px;width:20px;margin:-8px 10px 0 0}
.checker span,.checker span span,.checker input span,.checker input,.checker span input,.checker input input{margin:0}
.checker span,.checker span span,.checker input span{display:-moz-inline-box;display:inline-block;*display:inline;zoom:1;text-align:center;background:url(../img/checker.jpg) right top no-repeat}
.checker input,.checker span input,.checker input input{opacity:0;filter:alpha(opacity=0);-moz-opacity:0;border:none;background:none;display:-moz-inline-box;display:inline-block;*display:inline;zoom:1}
.checker .checked,.checker span .checked,.checker input .checked{background-position:0 -20px}

footer{width:100%;padding:0;background:#fff;position:relative;z-index:2}
footer .container{overflow:hidden}
footer .topfoot{background:url(../img/footerfloor.jpg) center bottom repeat-x;padding:70px 0;overflow:hidden}
footer .topfoot .mainheader{color:#666 !important}
footer .topfoot .subheader,footer .topfoot p,footer .topfoot li,footer .topfoot a{color:#888}
footer .bottomfoot{background:#000;overflow:hidden;padding:35px 0;position:relative; text-align: center;}
footer .bottomfoot .footer-logo{float:left;background:url(../img/footer-logo.jpg) no-repeat;display:block;width:233px;height:58px}
footer .bottomfoot .info p,footer .bottomfoot .info a,footer .bottomfoot .info li{color:#fff;font-size:11px;text-align:center}
footer .bottomfoot .info ul{width:auto;float:right;margin:10px 0 0}
footer .bottomfoot .info ul li{float:left;padding:0 0 0 3px}

.contactinfo{width:500px;margin:0 auto}
.contactinfo ul li{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:url(../img/footersprite.png) 0 5px no-repeat;padding:0 0 0 60px;margin:30px 0 0;color:#888 !important}
.contactinfo ul .email{background-position:0 -77px}
.contactinfo ul .telephone{background-position:0 7px}
.contactinfo ul .address{min-height:80px;background-position:0 -157px;width:80%;}
.contactinfo ul strong{text-transform:uppercase;display:block}
.contactinfo ul a{font-size:26px;line-height:26px;font-family:'Oswald', sans-serif;font-weight:700;text-transform:uppercase;color:#fff;text-transform:none;color:#666}

.franchisetype .intro h1, .aboutpage .intro h1{text-shadow: 0 5px 0 rgba(0,0,0,0.15);
font-size: 50px;
line-height: 65px;}

.footer-contact{overflow:hidden;width:100%;margin:0 auto}
.footer-contact article{width:49%;height:250px;padding:40px 0;position:relative;overflow:hidden}
.footer-contact article img{display:block;float:left;margin:0 0 0 30px;max-width:100%;height:auto}
.footer-contact article .info{padding:0;position:absolute;float:right;top:0;right:0;margin:20px 20px 0 0}
.footer-contact article .info h3{color:#fff;text-shadow:0 5px 0 rgba(0,0,0,0.15);margin:0 0 20px;padding:0px 0 0;font-size:30px}
.footer-contact article .info p{text-align:center;margin:0 auto 10px;display:block; font-size:14px;}
.footer-contact .footer-contact-map{float:left;margin:1% 0 1% 1%}
.footer-contact .footer-contact-details{float:right;margin:1% 1% 1% 0;width:48%}

.appstore-buttons {background:#00a5d3;overflow:hidden;padding:50px 0;text-align: center;}
.support {background:#e74c2e;overflow:hidden;padding:50px 0;text-align: center;}
.references {background:#272727;overflow:hidden;padding:50px 0;text-align: center;}

.pricing {background:#272727 ;overflow:hidden;padding:50px 0;text-align: center;}

.news {background:#272727 ;overflow:hidden;padding:50px 0;text-align: center;}

.register-interest-btn {width: 430px; padding: 20px; margin: 0 auto;}
.register-interest-btn {color: #fff !important;}
.register-interest-btn:hover {color: #888 !important;}

sup {font-size: 8px;}
.error { color:red;}
small {font-size: 9px !important; }
.reference-text {text-align:center;}

@media (max-width: 1280px){.container{width:1140px}
  .home-intro h2,.home-intro .sidebox h2 a,.sidebox h2 .home-intro a{width:85%}
  .home-options .threeoptions article img{margin:20px auto 0}
  .news-holder{width:960px}.rightcol{width:800px}
  .open-days .event .leftcontent{width:760px}
}

@media (max-width: 1139px){
  .container{width:960px}
  .mini-benefits{width:960px}
  .mini-benefits li{margin:0 5px}
  .home-intro h2,.home-intro .sidebox h2 a,.sidebox h2 .home-intro a{width:90%;font-size:70px;line-height:80px}
  .home-frantypes article .info,.home-frantypes .leftside .info,.home-frantypes .rightside .info{margin:20px 20px 0 0}
  .home-frantypes .young-creatives img{width:40%;margin-top:7%}
  .home-frantypes .sales-people img{width:65%;margin-top:3%}
  .benefits .panel{width:98%}.rightcol{width:620px}
  .franchisetype .intro header,.aboutpage .intro header{width:80%}
  .maincontent.restricted .copy{width:450px;margin:0}
  .maincontent.restricted #loginform,.maincontent.restricted .contactform{width:450px;margin:0}
  .maincontent.restricted #loginform label,.maincontent.restricted .contactform label{width:100%}
  .maincontent.restricted #loginform input[type=text],.maincontent.restricted #loginform input[type=email],.maincontent.restricted #loginform input[type=password],.maincontent.restricted #loginform textarea,.maincontent.restricted .contactform input[type=text],.maincontent.restricted .contactform input[type=email],.maincontent.restricted .contactform input[type=password],.maincontent.restricted .contactform textarea{width:100%}
  .maincontent.restricted .selector{width:100% !important}
  .callstrip .container{width:960px}
  .callstrip section{margin:25px 0 0 20px}
  .callstrip img{right:20px}
  .contactmain .contactinfo{margin:40px 0 0;width:450px}
  .contactmain .contactform{margin:40px 0 0;width:450px}
  .contactmain .contactform label,.contactmain .contactform input[type=text],.contactmain .contactform input[type=email],.contactmain .contactform input[type=password],.contactmain .contactform textarea{width:100%}
  .contactmain .contactform .selector{width:100% !important}
  .open-days .event .leftcontent{width:600px}
  footer .signupsocial{width:48%;margin:0}
}

@media (max-width: 959px){
  .container{width:768px}
  .mainnav .orangebtn{position:absolute;top:-10px;right:0}
  .alignright,.alignleft{float:none;display:block;margin:0 auto 20px}
  .mini-benefits{width:768px;margin:20px auto 0}
  .mini-benefits li{margin:0 53px;height:220px}
  .home-intro h2,.home-intro .sidebox h2 a,.sidebox h2 .home-intro a{width:100%;font-size:60px;line-height:70px}
  .home-frantypes article,.home-frantypes .rightside,.home-frantypes .leftside{width:98%;margin:1% 1% 0;height:auto;padding:40px 0;position:relative;overflow:hidden}
  .home-frantypes article .info,.home-frantypes .rightside .info,.home-frantypes .leftside .info{margin:40px 40px 0 0}
  .home-frantypes article img,.home-frantypes .rightside img,.home-frantypes .leftside img{width:auto;margin:0 0 0 5%}
  .home-frantypes .sales-people{margin:1%}
  .portfolio-slider .slides{width:100%}
  .portfolio-slider .slides img{width:100%;height:auto}
  .callstrip .container{width:768px}
  .callstrip img{width:260px;height:auto;bottom:28px}
  .news-holder{width:640px}.rightcol{width:100%}
  .leftcol{width:100%;margin:0 0 30px}
  .leftcol .sidebox{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%}
  .leftcol .sidebox ul{display:none;overflow:hidden}
  .leftcol .sidebox #expand{display:block}
  .maincontent.restricted .copy{width:550px;margin:0 auto 30px;overflow:hidden;float:none}
  .maincontent.restricted #loginform,.maincontent.restricted .contactform{width:550px;margin:0 auto 40px;float:none}
  .contactmain .contactinfo,.contactmain .contactform{margin:40px auto 0;float:none;width:550px}
  .open-days .event .leftcontent{width:400px}
  footer .plant{left:20px}
  footer .topfoot{padding:0 0 300px}
  footer .topfoot .lamp{top:450px}
  footer .topfoot .plant{top:500px}
  footer .contact,footer .signupsocial{float:none;width:80%;margin:30px auto}
}

@media (min-width: 768px) and (max-width: 959px){
  #body-container{padding:95px 0 0}
  .logo{width:175px;float:none;margin:10px auto 3px}
  .mainnav{height:95px}
  .mainnav ul{width:655px;margin:0 auto;float:none;border-top:1px solid #f0f0f0}
  .mainnav ul li:hover ul,.mainnav ul ul li.sfHover ul,.mainnav ul li li:hover ul,.mainnav ul ul li li.sfHover ul{top:40px}
  .mainnav ul li a{height:40px;line-height:38px}.mainnav ul li ul{border:none}
}

@media (max-width: 767px){
  #body-container{padding:0}
  .container{width:94%}
  .logo{margin:10px 0 0 5%}
  .home-intro h2,.home-intro .sidebox h2 a,.sidebox h2 .home-intro a{width:90%}
  .home-intro p{width:80%}
  .home-further iframe{float:none;margin:0 auto 20px;display:block}
  .mini-benefits{width:100%;margin:20px auto 0}
  .mini-benefits li{margin:0 3%;height:220px;width:44%}
  .subheader{width:80%}
  .mainnav{position:relative;width:100%}
  .mainnav .container{width:100%}
  .mainnav .orangebtn{position:relative;top:0;margin:10px 5% 0 10px}
  .mainnav #menubtn{display:block}
  .mainnav #menubtn .close{display:none}
  .mainnav ul{background:#fff;display:none;clear:both;width:100%}
  .mainnav ul li:hover ul,.mainnav ul ul li.sfHover ul{left:0;top:0;z-index:2}
  .mainnav ul li:hover li ul,.mainnav ul ul li.sfHover li ul{top:0;z-index:2}
  .mainnav ul li li:hover ul,.mainnav ul ul li li.sfHover ul{left:0;top:0;z-index:2}
  .mainnav ul li li:hover li ul,.mainnav ul ul li li.sfHover li ul{top:0;z-index:2}
  .mainnav ul li li li:hover ul,.mainnav ul ul li li li.sfHover ul{left:100%;top:0;z-index:2}
  .mainnav ul li{display:block;float:none;width:100%;clear:both;border:none !important}
  .mainnav ul li a{float:none;width:90%;height:40px;line-height:38px;padding:0 5%;background:#fff;color:#00a5d3;text-shadow:none}
  .mainnav ul li .sf-js-enabled{display:block !important;visibility:visible !important;opacity:1 !important;height:auto;position:relative;top:0;width:100%;margin:0;border-bottom:1px solid #0e8bb7}
  .mainnav ul li .sf-js-enabled li,.mainnav ul li .sf-js-enabled .current-menu-item{width:100%}
  .mainnav ul li .sf-js-enabled li a,.mainnav ul li .sf-js-enabled .current-menu-item a{width:90%;padding:5px 5%;background:#fff !important;color:#00a5d3 !important;text-shadow:none}
  .mainnav ul li .sf-js-enabled li a:hover,.mainnav ul li .sf-js-enabled .current-menu-item a:hover{background:#00a5d3 !important;color:#fff !important}
  .benefits .panel{height:auto}
  .maincontent.restricted .copy{width:80%;float:none;margin:0 auto 50px;overflow:hidden}
  .maincontent.restricted #loginform,.maincontent.restricted .contactform{width:80%;float:none;margin:0 auto}
  .maincontent.restricted #loginform{width:100%}
  .callstrip{height:auto;padding:30px 0 0;overflow:hidden}
  .callstrip .container{width:94%}
  .callstrip section{float:none;margin:0}
  .callstrip section h3{font-size:30px;line-height:35px;text-align:center}
  .callstrip section .subheader{text-align:center;font-size:17px}
  .callstrip section .bluebtn{display:block;margin:0 auto;width:150px;float:none}
  .callstrip section p{text-align:center}
  .callstrip img{display:none}
  footer .topfoot{padding:0 0 220px}
  footer .topfoot .plant,footer .topfoot .lamp{display:none}
  footer .contact{width:100%}
  footer .contact ul a{font-size:18px}
  footer .contact ul .address{width:100%}
  footer .bottomfoot .footer-logo{float:none;background:url(../img/footer-logo@2x.jpg) no-repeat;background-size:233px 58px;margin:0 auto 20px}
  footer .bottomfoot .info{width:100%}
  footer .bottomfoot .info p,footer .bottomfoot .info a,footer .bottomfoot .info li{text-align:center;font-size:13px}
  footer .bottomfoot .info p{float:none;width:100%}
  footer .bottomfoot .info ul{width:100%;float:none;margin:20px 0 0}
  footer .bottomfoot .info ul li{float:none;width:100%;margin:0;padding:0}
  footer .bottomfoot .info ul .divider{display:none}
}

@media (max-width: 640px){
  .franchisetype .intro header,.aboutpage .intro header{width:100%}
  .benefits .panel{text-align:center}
  .benefits .panel img{float:none;margin:0 auto 10px;display:block}
  .contactmain .contactinfo{width:100%}
  .contactmain .contactform{width:90%;margin:20px auto 0}
  .contactinfo{width:100%}
  .registerbox .contactform{width:90%;margin:20px auto 0}
  .registerbox .contactform label,.registerbox .contactform input[type=text],.registerbox .contactform input[type=email],.registerbox .contactform textarea{width:100%}
  .registerbox .contactform .selector{width:100% !important}
  .subcontent blockquote{margin:0}
  .loginorregister #loginform,.loginorregister .contactform{width:90%}
  .loginorregister #loginform label,.loginorregister #loginform input[type=text],.loginorregister #loginform input[type=email],.loginorregister #loginform input[type=password],.loginorregister #loginform textarea,.loginorregister .contactform label,.loginorregister .contactform input[type=text],.loginorregister .contactform input[type=email],.loginorregister .contactform input[type=password],.loginorregister .contactform textarea{width:100%}
  .loginorregister #loginform .selector,.loginorregister .contactform .selector{width:100% !important}
}

@media (max-width: 600px){
  .home-frantypes article img,.home-frantypes .rightside img,.home-frantypes .leftside img{float:none;display:block;margin:0 auto}
  .home-frantypes article .info,.home-frantypes .rightside .info,.home-frantypes .leftside .info{position:relative;left:0;top:0;width:90%;float:none;margin:0 auto}
  .open-days .intro h1{font-size:30px;line-height:30px;margin:30px}
  .open-days .intro p{width:100%}
}

@media (max-width: 480px){
  .logo{margin:13px 0 0 5%;width:120px}
  .mainheader{font-size:50px;line-height:50px}
  .home-intro h1{font-size:25px;line-height:25px}
  .home-intro h2,.home-intro .sidebox h2 a,.sidebox h2 .home-intro a{font-size:50px;line-height:55px}
  .home-intro p{width:90%}
  .home-further iframe{max-width:100%}
  .benefit.portfolio .flex-direction-nav a{top:240px}
  .contactinfo ul .address{width:100%}
  .contactinfo ul a{font-size:20px}
  .maincontent.restricted .copy{width:90%}
  .maincontent.restricted .contactform{width:90%}
}

@media (max-width: 320px){
  .mini-benefits li{margin:0;width:100%}
}












