/* Move down content because we have a fixed navbar that is 50px tall */
body {
}
@font-face {
    font-family: 'ptsansreg';
    src: url('PTS55F-webfont.eot');
    src: url('PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS55F-webfont.woff') format('woff'),
         url('PTS55F-webfont.ttf') format('truetype'),
         url('PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ptsansbold';
    src: url('PTS75F-webfont.eot');
    src: url('PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS75F-webfont.woff') format('woff'),
         url('PTS75F-webfont.ttf') format('truetype'),
         url('PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ptsansitalic';
    src: url('PTS56F-webfont.eot');
    src: url('PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS56F-webfont.woff') format('woff'),
         url('PTS56F-webfont.ttf') format('truetype'),
         url('PTS56F-webfont.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "ptsansreg", Helvetica, Arial, Sans-serif;
}
h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
.jumbotron {
	background:url(assets/img/headerbgrepeat.png) repeat-x scroll 0 bottom #e74c2e;
	height: 667px;
}
.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6 {
	color: #fff;
    font-size: 50px;
}
.jumbotron h3 {
	line-height: 32px;
}
.header-left-content {
	float: left;
	width: 60%;
}
.logo-holder {
    width: 90%;
}
.logo-holder img {
    width: 100%;
    height: auto;
}
.login-holder {
	margin: 25px 0
}
.intro-text-holder {
	margin: 0 0 45px 0;
}
.header-right-content {
	width: 40%;
	float: right;
	text-align: right;	
}
.col-md-7 h4 {
	line-height: 22px;
}
footer {
	background-color: #e74c2e;
	padding: 20px;
	color: #fff;
	margin: 25px 0 0 0;
    font-size: 11px;
}

@media (max-width:1200px){
    .jumbotron h3 {
        font-size: 20px;
        line-height: 26px;
    }
}
@media (max-width:990px){
    .header-left-content {
        width: 50%;
    }
    .jumbotron h3 {
        font-size: 18px;
        line-height: 24px;
    }
}
@media (max-width:900px){
    .jumbotron {
        height: auto;
    }
    .header-right-content {
        display: none; 
    }
    .header-left-content {
        width: 100%;
    }
    .jumbotron h3 {
        font-size: 18px;
        line-height: 24px;
    }
}















